section.secLogin {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #444;
}

section.secLogin form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	background-color: #222;
	border-radius: 10px;
	width: 600px;
	height: 590px;
	text-align: center;
}

section.secLogin img {
	width: 150px;
	height: 190px;
}

section.secLogin div.insereDados {
	margin: 15px 0;
	text-align: left;
	display: flex;
	flex-direction: column;
}

section.secLogin div.insereDados label {
	font-size: 1.8rem;
}

section.secLogin div.insereDados input {
	padding: 8px 10px;
	border-radius: 30px;
	color: #444;
	font-size: 2rem;
}

section.secLogin form button {
	background-color: #e41325;
	box-shadow: 0 0 35px #ff0000;
	font-size: 2.2rem;
	border: none;
	border-radius: 40px;
	margin-top: 40px;
	width: 190px;
	cursor: pointer;
	padding: 8px 0;
}