body {
	color: #fff;
}

div.imgFundo {
	background-image: url('../../assets/fundoHome.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
}

div.telaInicial {
	height: 100vh;
	display: flex;
	align-items: center;
}

div.centralInfo {
	background-color: #000000aa;
	width: 650px;
	height: 400px;
	margin: 0 auto 0 auto;
	border-radius: 10px;
	padding-top: 0.5%;
	transition: background-color 0.5s;
	text-align: center;
}

div.centralInfo:hover {
	background-color: #000000e0;
}

div.centralInfo:hover hr {
	width: 450px;
}

img.logo {
	width: 85px;
	height: 100px;
	margin: 0 auto 0 auto;
}

hr.linha {
	border: 0;
	height: 2px;
	width: 225px;
	background-image: linear-gradient(to right, transparent, #fff, transparent);
	margin: 10px auto 10px auto;
}

h1.tituloSCJ {
	font-family: Cookie, cursive;
	font-size: 80px;
	text-shadow: 2px 1px #000;
}

h2.subTituloSCJ {
	font-family: 'Cormorant Garamond', serif;
	font-size: 26px;
	margin: 20px auto 0 auto;
}

div.divBotao {
	background-color: #000000aa;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 45px 0px 45px 0px;
}

a.btnCadastrar {
	color: #fff;
	text-decoration: none;
	background-color: #ffc32c;
	font-size: 35px;
	border-radius: 50px;
	padding: 15px;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	cursor: pointer;
	box-shadow: 0 0 25px #00000044;
	text-shadow: 0 0 5px #00000099;
	transition: box-shadow 0.5s;
}

a.btnCadastrar:hover {
	background-color: #dfa81d;
	box-shadow: 0 0 20px #ffffffbb;
}

div.cronograma {
	background-color: #df0505a1;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}



h1.proximasMissas {
	background-color: #3e0001;
	text-align: center;
	font-family: 'Cinzel', serif;
	font-size: 25px;
	margin: 100px 0px 45px 0px;
	padding: 5px;
	border-radius: 3px;
}

div.doisItems {
	width: 90%;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
}

div.detalhesMissa {
	background-image: url('../../assets/fundoDetalhes.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 700px;
	height: 300px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

h1.tituloMissa {
	font-size: 50px;
	font-family: 'Merriweather', serif;
	margin-top: 90px;
}

h2.subTituloMissa {
	font-size: 16px;
	color: #ddd;
	font-family: 'Cinzel', serif;
	margin-top: 20px;
	max-width: 45ch;
}

div.detalhesMissa:hover h1 {
	transform: scale(1.2);
}

div.detalhesMissa:hover h2 {
	transform: scale(1.1);
}