section.secCadastrar {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #00000055;
}

form {
	background-color: #800000;
	padding: 6vh 2.5vw;
	font-family: 'Cormorant Garamond', serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 0px 15px #00000099;
	border-radius: 10px;
}

form:hover {
	background-color: #600000;
}

form h1 {
	font-size: 4rem;
	text-shadow: 2px 2px 5px #000;
	color: #ffffffee;
	cursor: default;
}

form hr {
	border: 0;
	height: 2px;
	width: 15vw;
	background-image: linear-gradient(to right, transparent, #fff, transparent);
	margin-top: 10px;
}

form:hover hr {
	width: 30vw;
}

form fieldset.fieldsetCadastrar {
	width: 40vw;
	margin-top: 4vh;
	padding: 25px;
	border: 0;
	border: 2px dashed #e4af28;
}

form h2 {
	font-size: 2.4rem;
	color: #ffffffdf;
	cursor: default;
}

form fieldset div.field {
	display: flex;
}

form fieldset input,
select {
	background-color: #fff;
	border-radius: 8px;
	border: 0;
	padding: 8px 16px;
	font-size: 1.5rem;
	color: #333;
	font-family: 'Roboto Condensed', sans-serif;
	width: 100%;
}

form fieldset select.local select {
	width: 80%;
}

form fieldset select.local option {
	background-color: #fff;
	color: #333;
}

form fieldset input.maxPessoas {
	margin-left: 5%;
	width: 15%;
}

input,
select {
	cursor: pointer;
}

button.cadastrarMissa {
	background-color: #ffc32c;
	border: 0;
	font-size: 2rem;
	border-radius: 50px;
	padding: 15px;
	margin-top: 6vh;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	cursor: pointer;
	box-shadow: 0 0 25px #00000044;
	text-shadow: 0 0 5px #00000099;
}

button.cadastrarMissa:hover {
	background-color: #e7ae1d;
	box-shadow: 0 0 25px #ffffff44;
}