section.secEditar {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #00000055;
}

form fieldset.fieldsetEditar {
	width: 40vw;
	margin-top: 4vh;
	padding: 25px;
	border: 0;
	border: 2px dashed #4396df;
}

form fieldset select.missa option {
	background-color: #fff;
	color: #333;
}

button.editarMissa {
	background-color: #3f92db;
	border: 0;
	font-size: 2rem;
	border-radius: 50px;
	padding: 15px;
	margin-top: 6vh;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	cursor: pointer;
	box-shadow: 0 0 25px #00000044;
	text-shadow: 0 0 5px #00000099;
}

button.editarMissa:hover {
	background-color: #1c79ca;
	box-shadow: 0 0 25px #ffffff44;
}