* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	transition: all 0.5s;
}

html {
	font-size: 62.5%;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background-color: #999999;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background-color: #222222;
}